<div class="container mt-5 bg-white p-5 rounded">
  <h1 ><%= @restaurant.name %> </h1>
  <h3><%= @restaurant.category.capitalize %></h3>
  <h4 class="mt-5 d-flex justify-content-between">Reviews<span><%= link_to "Add Review", new_restaurant_review_path(@restaurant.id)%></span></h4>
  <% if !@reviews.empty? %>
    <% @reviews.each do |review| %>
      <div class="card bg-light rounded mt-2 p-3 d-flex justify-content-center">
        <p><%= review.content %> - Rating: <%= review.rating %></p>
      </div>
    <% end %>
  <% else %>
    <div class="card bg-light rounded mt-2 p-3 d-flex justify-content-center">
      <p>No Reviews Yet</p>
    </div>
  <% end %>
</div>
